<html>
  <head>
    <title>
      <%= title %>
    </title>

    <!-- Using Noty Cdn for Flash Msgs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

     <!-- The Jquery CDN , placed below Noty as it doesnt require Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- here the css is coming from root folder ASSETS as setup in the index.js file at entry point -->
    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/header.css') %>"> 
    <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>"> 
    
    <!-- used to extract Styles from sub pages i.e, partials  -->
    <%- style %>
  </head>
  <body>

      <!-- setting-up Partials -->
    <%- include('_header') %>

    <!-- Displaying the Flash Msgs -->
    

  <!-- here the content of the page will come which is rendered using the controller or action , eg: user_profile.ejs -->
    <main id="layout-main">
      <%- body %>

    </main>
    
    <%- include('_footer') %>

    <!-- used to extract Scripts(js) from sub pages i.e, partials  -->  
    <%- script %>

    <script>
      // Using Noty for Success Msg
      <% if( flash.success && flash.success.length >0) { %>
      
        new Noty({
            theme:'relax',
            text: "<%= flash.success %>",
            type:'success',
            layout: 'topRight',
            timeout: 1500
            
        }).show();
      
      <% } %>

      // Display Error Msg 
      <% if( flash.error && flash.error.length >0) { %>
      
        new Noty({
            theme:'relax',
            text: "<%= flash.error %>",
            type:'error',
            layout: 'topRight',
            timeout: 1500
            
        }).show();
    
      <% } %>

    </script>
  </body>
</html>