<html>
  <head>
    <title>
      <%= title %>
    </title>

    <!-- here the css is coming from root folder ASSETS as setup in the index.js file at entry point -->
    <link rel="stylesheet" href="/css/layout.css"> 
    
    <!-- used to extract Styles from sub pages i.e, partials  -->
    <%- style %>
  </head>
  <body>

      <!-- setting-up Partials -->
    <%- include('_header') %>

    <%- body %>

    <%- include('_footer') %>

    <!-- used to extract Scripts(js) from sub pages i.e, partials  -->  
    <%- script %>
  </body>
</html>